.cache/
.dap-breakpoints
.local/
.lsp-session-v1
.mc-lists.el
ac-comphist.dat
codeium.el/
codeium/
elpa/
ido.last
projectile-bookmarks.eld
projects
recentf
smex-items
straight/
tramp
transient/
timelog
workspace
auto-save/
lockfiles/